*.log
*.jou
*.Xil
*.swp
*.bak
firrtl_black_box_resource_files.f
AsyncResetReg.v
plusarg_reader.v
rocketchip_wrapper.bit
NA

.vscode/

common/build
common/target
common/project/target
common/lib
common/Makefrag.pkgs

zcu104/zcu104_rocketchip_*
zcu104/src/tcl/zcu104_rocketchip_*.tcl
zcu104/src/tcl/make_bitstream_*.tcl
zcu104/src/verilog/rocketchip_wrapper.v
zcu104/src/verilog/Top.*.v
zcu104/src/verilog/AsyncResetReg.v
zcu104/src/verilog/plusarg_reader.v
zcu104/deliver_output
zcu104/soft_build


target
